
{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1">
               Very good observations. These people are working outdoors. They are harvesting cranberries on the
            island of Nantucket. Even though there was a commercial market for cranberries in this period, picking
            them had not yet been mechanized. People still went out to the marshes and used their hands to comb the
            berries off the plants in order to collect them. Johnson was interested in capturing the rural American
            way of life that was quickly disappearing due to industrialization and urbanization. What do you notice
            about the formal elements of this painting, such as line, color, texture, light and shadow?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_17_2" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
