{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1">
                How do you do. My name is No'om. My husband's name is Haira and my father-in-law's name
                is Maliku. All three of our names are written to the right of my head. Now that I have
                your attention, and formalities are out of the way, I'm curious: when you look at me what
                do you see? I don't have my looking glass with me... what do I have on?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_13_1" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}