{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               Absolutely. Even though you might be able to see a few recognizable subjects in me - like trees and
            clouds - the way the artist painted me also conveys a lot of meaning, I think. What else do you notice about
            how he's painted me? Describe the line and paint and texture.
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_14_2" style="font-size:7.5vw;">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}

