{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               Great observation. The American artist Hale Woodruff painted me around 1944. At the time he was
            traveling through Georgia, Alabama, and Mississippi on a fellowship. During his travels, Woodruff
            documented the social and environmental issues of the rural south. I'm soil erosion he saw in the landscape
            of Mississippi. Based on the information I've given you and your observations so far, what do you think the
            artist wanted to communicate to his viewer about the soil erosion?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_14_3" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}

