{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1">
               So glad you noticed! I'm especially happy you took note of my jewelry, my embroidered robe, and my
            elaborate headdress. These things indicate that I was a wealthy woman in the second century when this
            sculpture was made. You might have also noticed my beautiful, staring eyes and straight nose. But I'll
            let you in on a little secret. I've had some work done and this isn't exactly what I looked like in real
            life. The sculptor who carved my face idealized me and made me look very symmetrical. What else do you
            notice about the material of sculpture? What am I made of?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_13_2" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}

