
{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1">
               Hello. Look down. I'm the figure on the bottom, speaking to you. My friend and I are from Nigeria, and
            part of the Yoruba ethnic group. I'm fairly busy supporting him, but when you look at us, what do you see?
            What do you notice about who we are and the objects we carry?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_16_1" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
