{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               Oh, hello there. Come on up and get close. But maybe brace yourself - there's a lot going on, and
            it's easy to get swept up in the action. How would you describe this scene in a word or two?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_14_1" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}

