{% extends "layout.html" %}

{% block content %}

        <div class="container">

            <div class="h1">
                Yea, it's a mess. I'll get into it later, but I'm Lot and as
            the old and new testament and Qu'ran tell it, I fled Sodom and Gomorrah
            with my family, before the towns were consumed by fire and brimstone.
            The angels said not to, but my poor wife turned back and transformed into
            a pillar of salt. But we need not be so literal here. I'm clearly a
            sculpture, too. Not salt, thought! Look closely at my body. It's ok,
            I'm not shy. Describe the surface - what do you notice about my texture?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_12_2" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>


{% endblock %}

