{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               Why thank you, that's flattering. Now take a look around the gallery. Do you notice any other
                  objects associated with tombs or death? What could they tell you about the individual buried
                  with or near them?
            </div>

            <div class="row">
                <form method="POST">
                    <input type="submit" class="btn btn-success" id="bluebtn" value="I want to talk to another object." style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
