{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1">
                Well, you might feel the same if you'd been through what I've been through! No one else in this room
            can communicate like I can, but several works of art do depict other people or figures.
            Go take a look at them and think about some of the stuff we've discussed here: who do you
            imagine them to be? What do you imagine they've been through? And how has the artist chosen to present
            them? Something to think about.
            </div>

            <div class="row">
                <form method="POST">

                    <input type="submit" class="btn btn-success" id="bluebtn" value="I want to talk to another object." style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}

