
{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               You got it. I'm a monk and I was just out here on this rocky mountain praying when a seraph appeared
                and now, miraculously, I have the marks of the stigmata on my body. These are the same wounds that
                Christ received during the crucifixion. You can see them on my hands and the small bloody spot on my
                side. The man who painted me, Vincente Carducho, wanted to emphasize my humility and inspire an
                emotional response in the viewers. Where do you think people might have encountered this painting of
                me in the seventeenth century?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_15_3" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
