
{% extends "layout.html" %}

{% block content %}
        <div class="container" style="font-size:8vw;">

            <div class="h1">
               I agree with you. Woodruff used colors, texture, movement, and line to create a commentary on the
                terrible state that he found the land of Mississippi in after a flood. He wanted people to know that
                the landscape and the people who lived in it were being ignored. As you walk through this gallery
                consider, how do the artists use formal characteristics such as line, color, texture, light, and
                shadow to help them communicate a message or a feeling?
            </div>

            <div class="row">
                <form method="POST">

                    <input type="submit" class="btn btn-success" id="bluebtn" value="I want to talk to another object." style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
