{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1">
               Yes, this image of me was carved in stone because I wanted it to last for eternity! This is actually
            my tombstone. In second-century Palmyra, where I'm from, the deceased were buried in underground tombs
            filled with niches, or alcoves. The niche was then sealed with a bust-length relief carving of the deceased.
            My family would come visit my tomb to pay their respects and remember the kind of woman I was. Based on
            this sculpture, how do you think I wanted to be remembered by future generations?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_13_3" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
