
{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               Yes, we are part of a post that supported a porch, or veranda, on a Yoruba palace from the early
            twentieth century. That's why we are stacked on top of each other. And notice that big block on top of my
            friend's head. That was originally attached to a cross beam. We come from a palace complex at Efon-Aleye,
            a regal and importance place. As you walk around this gallery and look at other pieces of African art,
            consider their forms, but also how they might've been used. What life did they live before they were in a
            museum?
            </div>

            <div class="row">
                <br>
                <form method="POST">

                    <input type="submit" class="btn btn-success" id="bluebtn" value="I want to talk to another object." style="font-size:6vw;">
                </form>
                <br>
                <br>
            </div>

        </div>
{% endblock %}
