
{% extends "layout.html" %}

{% block content %}
        <div class="container">

            <div class="h1" style="font-size:8vw;">
               Great observations. I am indeed a woman and my friend is a man. We embody and express different
                types of power in the Yoruba tradition. You might have noticed that he is holding weapons - a sword
                and a spear. He is associated with the overt power of war and the hunt. I am holding a child and am
                associated with the power of reproduction and nurturing. These powers are traditionally associated
                with our genders - male and female - and Yoruba culture often prizes complementary pairings. Ideas of
                balance and symmetry are important. Look at us. Where else do you see examples of balance?
            </div>

            <div class="row">
                <br>
                <form method="POST">
                    <input type="text" name="user_input_16_2" style="font-size:7.5vw;" placeholder="Type a few words here.">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" id="bluebtn" value="Submit" style="font-size:6vw;">
                </form>
                <br>
            </div>

        </div>
{% endblock %}
